// --------- Add Medicaiton ----------
.breadcrumb {
  min-height: 33px;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 0px;
}

.addMed_title {
  text-transform: uppercase;
  margin: 15px;
  text-align: left;
}

.bigButton {
  position: fixed;
  bottom: 0;
  width: 100%;
}