// --------- Add Medicaiton ----------
.breadcrumb {
  min-height: 33px;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 0px;
}

.addMed_title {
  text-transform: uppercase;
  margin: 15px 5%;
  text-align: left;
}

.bigButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  button {
    margin: 10px 0;
  }
}

.container {
  max-width: 100vw;
  height: 245px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
